.root {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.list {
    transition: all .5s ease-in;
    opacity: 0;

    .right {
        float: right;
        
        .center {
            margin: 10px;
            display: flex;
            align-items: center;
        }
    }
}

.open {
    transition: all .5s ease-in;
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.algo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.center {
    margin: 10px;
    display: flex;
    align-items: center;
}

.right {
    float: right;
}

.screen {
    height: 100vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input {
        outline: none;
        border: none;
        border-bottom: 2px solid #d9d9d9;
        margin: 0;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .num {
        width: 30px;
        border-bottom: 2px solid #d9d9d9;
        margin-left: 10px;
        padding: 2px 5px;

    }
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 40px;
    }

    .center {
        margin: 15px 10px;
        display: flex;
        padding: 5px 60px !important;
    }
}

.column {
    display: flex;
    justify-content: space-around;
}

hr {
    width: 60px;
    margin: 5px 60px !important;
    color: dodgerblue !important;
    opacity: 1 !important;
}
.title {
    display: flex;
    align-items: center;
}
.size {
    width: 7rem;
    height: 4rem;
}